.barra-navegacao{
    list-style: none;
    color: #fff;
    text-align: right;
    font-family:sans-serif;
    font-size: 18px;
    margin-right: 12%;
    padding-top: 2%;
}

.barra-navegacao li{
    display: inline;
    padding: 20px;
}

/* ------------- BACKGROUND DIAGONAL ---------- */

.background-linear {
    width: 100%;
    margin-bottom: 100px;
    min-width: auto;
    height: 920px;
    background-image: -webkit-linear-gradient(25deg,  #f9f9f9 50%, #00a78e 50%);
}

/* ------------------------------------------------------ */

.container{
    margin-left: 5%;
    margin-top: 10%;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #293651;
  }
  
  h2{
    color: #00a78e;
    font-weight: 200;
  }
  
  #diminuir{
    font-weight: 200;
  }
  
  /* --------BOTÃO---------- */
  .info{
    background-color: #00a78e;
    height: 45px;
    width: 220px;
    border: none;
    border-radius: 5%;
    color: #ffff;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
  }
  /* --------------------------------- */
  
  .cinza{
    color: #949ca2;
  }
  
  .foto{
    margin-left: 18%;
    text-align: center;
   margin-top: -370px;

  }

  .foto img{
    width: 540px;
    height: 800px;
  }
  
  #informacoes{
    margin: 20%;
    margin-top: 30px;
  }
  
  
  .tabela{
    width: 500px;
    height: 500px;
    background-color: #00a78e;
    padding: 50px;
  }
  
  .tabela2{
    width: 500px;
    height: 500px;
    background-color: #a70054;
  }