.barra-navegacao{
    list-style: none;
    color: #f7fdff;
    font-weight: bold;
    text-align: right;
    font-family:sans-serif;
    font-size: 18px;
    margin-right: 12%;
    padding-top: 2%;
}

.barra-navegacao li{
    display: inline;
    padding: 20px;
}

/* ------------- BACKGROUND DIAGONAL ---------- */

.background-linear {
    width: 100%;
    margin-bottom: 100px;
    min-width: auto;
    height: 920px;
    background-image: -webkit-linear-gradient(25deg,  #f7fdff 50%, #0c3b76 50%);
}

/* ------------------------------------------------------ */

.container{
    margin-left: 5%;
    margin-top: 10%;
    line-height: 36px;
    padding-right: 65%;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #293651;
  }
  
  /* --------BOTÃO---------- */
  .info{
    background-color: #6a8d11;
    height: 45px;
    width: 220px;
    border: none;
    border-radius: 30px;
    color: #ffff;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
  }

  .info:hover{
    transform: scale(1.1);
    -webkit-filter: drop-shadow(10px 5px 5px rgba(139, 134, 134, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(151, 150, 150, 0.5));
  }

.barra-navegacao li >:hover{
    color: #dae2c3;
  }

  .barra-navegacao li > a{
    color: #fff;
    text-decoration: none;
  }
  /* --------------------------------- */
  
  
  .foto{
    margin-left: 18%;
    text-align: center;
    margin-top: -370px;

  }

  .foto img{
    width: 800px;
    height: 800px;
  }
  
  #informacoes{
    margin: 20%;
    margin-top: 30px;
  }
  
  
  .tabela{
    width: 500px;
    height: 500px;
    background-color: #00a78e;
    padding: 50px;
  }
  
  .tabela2{
    width: 500px;
    height: 500px;
    background-color: #a70054;
  }

  /* -----------------TIPOGRAFIA ------------------- */

  .cinza{
    color: #777676;
  }

  h2{
    color: #6a8d11;
    font-weight: 200;
  }
  
  #diminuir{
    font-weight: 200;
  }

  .container h1,p,h3{
    padding-top: 15px;
  }